@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap')
background {
background-color: #3e3f45;
font-family: Baloo, cursive;
font-color: white;
text-align: center;
}

.button {
padding: 60px;
background-color: #a682d9;
}

// © Fox198nt 2022-2022